.footer {
	background-color: #fff;
	margin-top: 100px;

	.container {
		padding-top: 25px;
		display: flex;
		justify-content: space-between;
	}

	h3 {
		letter-spacing: 1px;
		font-size: 30px;
		color: $redColor;
	}

	/* Gallery ============================== */
	.gallery {
		.box {
			display: flex;
			margin-bottom: 30px;

			.img-box {
				padding: 3px;
				border: 3px solid #555;
				margin-right: 15px;
				height: 100%;

				img {
					border-radius: 3px;
					transition: .2s;

					// Hover
					&:hover {
						filter: sepia(100%);
					}
				}
			}
		}

		.content {
			h4 {
				color: $greyColorDark;
				margin-bottom: -10px;
				letter-spacing: 0.5px;
				font-size: 19px;
			}

			p {
				color: $greyColorLight;
				width: 336px;
				line-height: 24px;
			}
		}
	}

	/* Info ============================== */
	.info {
		ul {
			padding-left: 0;
			color: $greyColorLight;
			line-height: 25px;

			span {
				color: $redColor;
			}
		}

		.contact h5 {
			font-size: 17px;
			margin-bottom: -11px;
			letter-spacing: 0.5px;
		}
	}

	/* Contact ============================== */
	.contact-us {
		display: grid;

		input {
			width: 230px;
			height: 49px;
			border-radius: 50px;
			border: 3px solid $redColor;
			padding: 20px;
			background-color: transparent;
		}

		textarea {
			height: 100px;
			border: 3px solid $redColor;
			border-radius: 5px;
			padding: 20px;
			width: 230px;
		}

		input:last-child {
			@include header;
			color: white;
			font-size: 23px;
			width: 60%;
			margin-top: 5px;
			margin-left: 18%;
		}
	}

	.line {
		width: 100%;
		height: .5px;
		background-color: $greyColorLight;
		margin-top: 24px;
	}
}

footer {
	background-color: white;
	color: $greyColorDark;
	height: 60px;
	padding-top: 25px;

	.container {
		display: flex;
		justify-content: space-between;
	}

	.copyright-one {
		text-transform: capitalize;
		letter-spacing: 0.5px;
	}

	.copyright-two span {
		color: $redColor;
		font-style: italic;
	}
}
