.slider {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 200px;
	height: 500px;

	p {
		color: $greyColorDark;
		font-size: 20px;
		line-height: 30px;
		margin-bottom: 40px;

		// Responsive
		// @media #{$mobileScreen} {
		// 	width: 454px;
		// 	font-size: 15px;
		// }
	}

	// .swiper1 {
	// 	@media #{$mobileScreen} {
	// 		width: 454px;
	// 	}
	// }
}

/* Prev & next Buttons ================== */
.swiper-button-prev,
.swiper-button-next {
	background-color: #000;
	color: #fff;
	width: 50px;
	height: 50px;
	border-radius: 5px;
	transition: .4s;
	cursor: $pointer;
}

.swiper-button-prev {
	left: -50px;
}

.swiper-button-next {
	right: -50px;
}

/* Hover */
.swiper-container:hover .swiper-button-prev {
	left: 13px;
}

.swiper-container:hover .swiper-button-next {
	right: 13px;
}

.swiper-button-prev:active,
.swiper-button-next:active {
	transform: scale(.50);
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
	background-color: $redColor;
}

.swiper-pagination-bullet-active {
	opacity: 1;
	background: #ffffff;
}
